<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#">Telconet - prueba</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">    
        <a class="nav-item nav-link" (click)="goCrearUsuario()">Nuevo usuario</a>
        <a class="nav-item nav-link" (click)="goUsuarios()">Profesores disponibles</a> 
        <a class="nav-item nav-link" (click)="goCreateCurso()">Registro de cursos</a>    
      </div>
    </div>
  </nav>